/* 
* .CSS file for testing stages of wonderedlamb256.github.io
* Testing Stage: ALPHA
* Not primary CSS file.
*/
* { /* CSS margin reset for global browser settings */
      margin: 0;
      padding: 0;
      box-model: border-box;
}

body {
      font-family: "Trebuchet MS", "Roboto", "Arial", sans-serif;
}
.main > p:first-of-type {
      border: 2px solid #FFF;
}
.flex-navigation-bar {
      background-color: #B3DFF2; /* Sky blue, short is #BDF */
      display: flex;
      justify-content: space-between;
}
.automargin {
      margin: 0 auto;
}
.quick-icons {
      border-left: 1px solid #24649c;
}
.navigation {
      border-right: 1px solid #24649c;
}
.centernavigation {
      margin: 15px 5px;
      padding: 5px;
}
.flex-header {
      display: flex;
      justify-content: space-between;
      background-color: #24649c;
      color: white;
}
.headertext {
      font-size: 2em;
      padding: 50px;    
}
.flex-footer {
      display: flex;
      justify-content: space-between;
      background-color: #555;
}
.flex-boxes {
      display: flex;
      justify-content: space-around;
}
.box {
      padding: 50px;
      margin: 10px;
}
.pageheader {
      text-align: center;
      margin: 10px;
}
